// CSS Variables
:root {
    --grey: #EFF4F7; //EFF4F7
    --brown: #423C3A;
    --green: #406844;
    --pink: #F0AF9A;
}

// SCSS Variables
$font: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; 
