.contact {
    padding: 70px 0 0;
    @include mixed-bg(#fff, var(--green), 75%);

    @media (max-width: $mobile) {
        padding-top: 40px;
        overflow-x: hidden;
    }

    &__plan {
        display: block;
        text-decoration: none;

        img {
            width: 100%;
        }
    }

    &__quantity {
        @include font(22px, 700);
        text-transform: uppercase;
    }

    &__block {
        margin-top: 90px;
        background: url('../images/form-m.jpg') no-repeat bottom center;
        background-size: cover;

        @media (min-width: $tablet) {
            background-image: url('../images/form.jpg');
        }

        @media (max-width: $tablet) {
            margin: 25px -32px 0;
        }
    }

    &__wrap {
        width: 55%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        padding: 80px;
        
        @media (max-width: $tablet) {
            width: 100%;
            backdrop-filter: blur(6px);
            padding: 40px 20%;
        }

        @media (max-width: $mobile) {
            padding: 40px 12%;
        }
    }

    &__title {
        @include font(18px, false, 24px);
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 40px;

        @media (max-width: $tablet) {
            @include font(20px, 700, 27px);
        }
    }

    &__text {
        @include font(16px);
        color: var(--pink);
    }

    &__field {
        @include font(18px);
        font-family: $font;
        background: none;
        color: rgba(255, 255, 255, .8);
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        width: 100%;
        padding: 7px 15px;
        margin-bottom: 30px;
        transition: all .3s;

        &:focus {
            border-bottom-color: var(--green);
        }

        &::placeholder {
            color: rgba(255, 255, 255, .8);
        }

        // &:invalid {
        //     color: #FF8D8D;
        //     border-bottom-color: #FF8D8D;
        // }
    }

    &__btn-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;

        .icon {
            @include size(70px, 13px);
            margin-right: 15%;
            fill: var(--grey);
        }
    }
}

.buildings {
    margin-top: 100px;

    @media (max-width: $tablet) {
        margin-top: 0;
    }

    &__item {
        @include font(18px, 700, 48px);
        padding-left: 80px;
        position: relative;
        margin-bottom: 40px;

        @media (max-width: $tablet) {
            margin-bottom: 20px;
        }

        &::before {
            @include size(45px);
            @include pos($l: 0, $t: 0);
            content: '';
        }

        &--green::before {
            background: #B0D18C;
        }

        &--yellow::before {
            background: #F5EAAA;
        }

        &--pink::before {
            background: #F0AF9A;
        }
    }
}