.consult {
    background: var(--grey);
    
    .container {
        min-height: 15vh;
        height: auto;
        padding: 30px 15px;

        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__text {
        @include font(22px, 700);
        margin-bottom: 0;
        text-transform: uppercase;

        @media (max-width: $mobile) {
            text-align: center;
            line-height: 30px;
            margin-bottom: 30px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: flex-end;

        @media (max-width: $tablet) {
            width: 65%;

            .btn {
                width: 75%;
                padding: 15px 10%;
                text-align: center;
                min-width: 200px;
            }
        }

        @media (max-width: $mobile) {
            width: 100%;
            justify-content: center;
        }

        .icon {
            @include size(70px, 13px);
            margin-right: 15%;
            fill: var(--brown);
        }
    }
}