.consult {
    background: var(--grey);
    
    .container {
        height: 15vh;
    }

    &__text {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
    }

    &__btn {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: flex-end;

        .icon {
            @include size(70px, 13px);
            margin-right: 15%;
            fill: var(--brown);
        }
    }
}