.footer {
    text-align: center;
    padding: 30px 0 5px;

    &__logo {
        text-decoration: none;
        margin-bottom: 30px;
        display: inline-block;

        .icon {
            @include size(75px);
            fill: var(--brown);
        }
    }

    &__row {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            @include font(16px, 700);
            text-decoration: none;
            transition: all .3s;
            color: var(--brown);

            @media (min-width: $tablet) {
                &:hover {
                    color: var(--green);
                }
            }
        }
        
        .icon {
            @include size(20px);
            margin-right: 15px;
        }
    }

    &__copyright {
        margin-top: 30px;

        p {
            @include font(15px);
        }
    }
}

