.plans {
    background: url('../images/plans-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;

    @media (max-width: $tablet) {
        height: auto;
    }

    @media (max-width: $mobile) {
        .swiper-button-next, 
        .swiper-button-prev {
            top: 32%;
        }
    }

    .swiper-slide {
        align-items: start;
        justify-content: space-between;
        padding: 7vh 100px 12vh 130px;

        @media (max-width: $tablet) {
            padding: 7vh 11% 9vh;
        }

        @media (max-width: $mobile) {
            padding: 5vh 50px;
            display: block;
        }
    }

    &__title {
        @include font(28px, 700);
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        padding: 50px 25px 0;

        @media (max-width: $mobile) {
            padding-top: 30px;
        }
    }

    &__wrap {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4px);
        padding: 35px;
        color: #fff;
        width: 35%;

        @media (max-width: $tablet) {
            padding: 25px;
            width: 55%;
        }

        @media (max-width: $mobile) {
            padding: 25px;
            width: 100%;
        }

        h2 {
            @include font(22px, 700);
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        h3 {
            @include font(18px, 700);
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        p {
            @include font(15px);
            margin-bottom: 5px;

            @media (max-width: $tablet) {
                margin-bottom: 2px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__imgs {
        display: flex;
        justify-content: space-evenly;
        width: 60%;

        @media (max-width: $tablet) {
            width: 45%;
            flex-wrap: wrap;
        }

        @media (max-width: $mobile) {
            width: 100%;
            display: block;
            margin-top: 20px;
        }

        a {
            display: contents;

            @media (max-width: $tablet) {
                margin: 0 0 15px 10%;
                display: block;
            }

            @media (max-width: $mobile) {
                margin: 0 0 15px 0;
            }
        }

        img {
            max-height: 500px;
            display: block;
            max-width: 45%;

            @media (max-width: $tablet) {
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }

    @media (max-width: $mobile) {
        .swiper-button-next {
            right: 3px;
        }
    
        .swiper-button-prev {
            left: 3px;
        }
    }
}