.trust {
    padding: 50px 0;
    background: var(--grey);

    @media (min-width: $tablet) {
        @include mixed-bg(#fff, var(--grey), 45%);
    }

    &__link {
        @include font(15px);
        text-decoration: none;
        color: var(--brown);
        transition: all .3s;

        @media (min-width: $tablet) {
            &:hover {
                color: var(--green);
            }
        }
    }

    &__wrap {
        width: 46%;
        text-align: center;

        @media (max-width: $mobile) {
            width: 100%;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__block {
        @include font(70px, 700);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .icon {
            @include size(40px, 65px);
            margin: 0 5px;

            &--reverse {
                transform: rotateY(180deg);
            }
        }
    }

    &__text {
        @include font(17px);
    }

}