.feature {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    width: 100%;
    height: auto;
    min-height: 110px;

    @media (min-width: $desktop) {
        max-height: 18vh;
    }

    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }

    @media (min-height: 600px) and (max-height: 800px) and (min-width: $tablet) {
        min-height: 145px;
    }

    &__item {
        @include font(18px);
        width: 25%;
        color: #fff;
        padding: 25px 35px;
        border-right: 1px solid rgba(255, 255, 255, .8);
        text-transform: uppercase;

        &:not(i) {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            hyphens: auto;
        }

        @media (min-width: $tablet) and (max-width: $desktop) {
            @include font(15px, false, 18px);
            padding: 20px 30px;
        }

        @media (max-width: $tablet) {
            width: 50%;
            padding: 20px 30px;
            display: flex;
            align-items: center;
            
            &:first-child,
            &:nth-child(2) {
                border-bottom: 1px solid rgba(255, 255, 255, .8);
            }
        }

        @media (max-width: $mobile) {
            @include font(12px, false, 15px);
            padding: 15px;
        }

        &:last-child {
            border-right: none;
        }

        i {
            @include font(30px);
            font-style: normal;
            display: block;
            color: var(--pink);
            margin-bottom: 25px;
            word-break: normal;

            @media (max-width: $tablet) {
                margin: 0 15px 0 0;
                @include font(25px);
                display: inline-block;
            }
        }
    }
}